*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body, html {
    height: 100%;
    margin: 0;
  }
.content_login{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 40px;
}
.content_login-label{
    letter-spacing: 2px;
}
.content_login .content_login-signup a{
    color: black;
    font-weight: 600;
}
.content_login .content_login-signup a:hover{
    color: red;
}
.content_login form{
    margin-top: 20px;
}
.username-label{
    font-weight: 600;
}
#username{
    box-sizing: border-box;
    padding: 15px;
    width : 100%;
    margin-top:5px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.password-label{
    font-weight: 600;
}
#password{
    padding: 15px;
    width: 100%;
    margin-top:5px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;

}
.forget_password{
    font-size: 16px;
}
.button_login{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: red;
    color: aliceblue;
    font-weight: 600;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* Login admin */
.login_admin{
    background-image: url("../img/background_admin.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}